.DS_Store
./beamer_template_blue/.DS_Store
./beamer_template_red/.DS_Store
./beamer_template_black/.DS_Store
./beamer_template_blue/images/.DS_Store
./beamer_template_red/images/.DS_Store
./beamer_template_black/images/.DS_Store
